<a class="font-weight-light font-italic text-muted" routerLink="/">&#8592; back</a>
<div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{globals.user.firstname}}
                                            {{globals.user.lastname}}</h4>
                                        <p class="mb-0">@{{globals.user.username}}</p>
                                    </div>
                                    <div class="text-center text-sm-right">
                                        <span class="badge badge-secondary">{{globals.user.role.name}}</span>
                                        <div class="text-muted"><small>Joined {{globals.user.timestamp | date}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mr-auto ml-auto">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Firstname</label>
                                                            <input class="form-control" type="text" name="name"
                                                                placeholder="{{globals.user.firstname}}"
                                                                value="{{globals.user.firstname}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Lastname</label>
                                                            <input class="form-control" type="text" name="username"
                                                                placeholder="{{globals.user.lastname}}"
                                                                value="{{globals.user.lastname}}" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>E-Mail</label>
                                                            <input class="form-control" type="text" name="name"
                                                                placeholder="{{globals.user.email}}"
                                                                value="{{globals.user.email}}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Phone</label>
                                                            <input type="text" [ngModel]="user.phone"
                                                                class="form-control" id="inputPhone" placeholder="phone"
                                                                formControlName="phone"
                                                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                                                            <div *ngIf="submitted && f.phone.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="f.phone.errors.required">Phone is required
                                                                </div>
                                                                <div *ngIf="f.phone.errors.pattern">Wrong format</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col d-flex justify-content-end">
                                                <button class="btn btn-primary" type="submit">Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <button (click)="logout()" class="btn btn-block btn-secondary">
                                <i class="fa fa-sign-out"></i>
                                <span>Logout</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>