<a class="font-weight-light font-italic text-muted" routerLink="/admin/dashboard">&#8592; back</a>
<p *ngIf="!globals.selectedUser"><em>Loading...</em></p>
<div *ngIf="globals.selectedUser">
    <div class="container">
        <div class="row flex-lg-nowrap">
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{globals.selectedUser.firstname}}
                                                {{globals.selectedUser.lastname}}</h4>
                                            <p class="mb-0">@{{globals.selectedUser.username}}</p>
                                        </div>
                                        <div class="text-center text-sm-right">
                                            <span class="badge badge-secondary">{{globals.selectedUser.role.name}}</span>
                                            <div class="text-muted"><small>Joined
                                                    {{globals.selectedUser.registrationDate}}</small></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" novalidate="">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Firstname</label>
                                                                <input [ngModel]="globals.selectedUser.firstname" class="form-control" type="text" name="name"
                                                                    placeholder="{{globals.selectedUser.firstname}}"
                                                                    value="{{globals.selectedUser.firstname}}">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Lastname</label>
                                                                <input [ngModel]="globals.selectedUser.lastname" class="form-control" type="text" name="username"
                                                                    placeholder="{{globals.selectedUser.lastname}}"
                                                                    value="{{globals.selectedUser.lastname}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>E-Mail</label>
                                                                <input [ngModel]="globals.selectedUser.email" class="form-control" type="text" name="email"
                                                                    placeholder="{{globals.selectedUser.email}}"
                                                                    value="{{globals.selectedUser.email}}">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Role</label>
                                                                <select [ngModel]="globals.selectedUser.role" (ngModelChange)="onChangeObj($event)" name="roles" id="roles" class="form-control">
                                                                    <option [ngValue]="opt" *ngFor="let opt of roles">{{opt.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Username</label>
                                                                <input [ngModel]="globals.selectedUser.username" class="form-control" type="text" name="username"
                                                                    placeholder="{{globals.selectedUser.username}}"
                                                                    value="{{globals.selectedUser.username}}">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Phone</label>
                                                                <input [ngModel]="globals.selectedUser.phone" class="form-control" type="text" name="phone"
                                                                    placeholder="{{globals.selectedUser.phone}}"
                                                                    value="{{globals.selectedUser.phone}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6 mb-3">
                                                    <div class="mb-2"><b>Change Password</b></div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Current Password</label>
                                                                <input class="form-control" type="password"
                                                                    placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>New Password</label>
                                                                <input class="form-control" type="password"
                                                                    placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Confirm <span
                                                                        class="d-none d-xl-inline">Password</span></label>
                                                                <input class="form-control" type="password"
                                                                    placeholder="••••••">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                    <div class="mb-2"><b>Keeping in Touch</b></div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label>Email Notifications</label>
                                                            <div class="custom-controls-stacked px-2">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="notifications-blog" checked>
                                                                    <label class="custom-control-label"
                                                                        for="notifications-blog">Blog posts</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button class="btn btn-primary" type="submit">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-3 mb-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="px-xl-3">
                                    <button (click)="logout()" class="btn btn-block btn-secondary">
                                        <i class="fa fa-sign-out"></i>
                                        <span>Logout</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>