﻿@{
    ViewData["Title"] = "TwoFactorAuthentication";
}

@using Praxisarbeit_2FA.Models;

@model TotpOptions;


<div class="text-center">
    <h1 class="display-4">Two Factor authentication</h1>
    <br />


    <img style="width:500px" src="@Model.QrCodeSetupImageUrl" />

    <p>Manual entry code:</p>
    <p>@Model.ManualEntryKey</p>


    <form class="text-left" action="/Home/TOTP" method="post">
        <div class="form-group row">
            <label for="inputCode" class="col-form-label col-3 col-lg-2 offset-lg-3">Code:</label>
            <div class="col-9 col-lg-4">
                <input type="text" id="inputCode" name="inputCode" class="form-control" autofocus />
                <input type="hidden" name="username" id="username" value="@Model.Username" />
            </div>
        </div>
        <br />

        <div class="text-center">
            <input type="submit" name="" value="Check" class="btn btn-primary" />
        </div>
    </form>
</div>