<a class="font-weight-light font-italic text-muted" routerLink="/user/dashboard">&#8592; back</a>
<div class="container" *ngIf="post">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Title</label>
                                                            <input type="text" [ngModel]="post.title" class="form-control" id="inputTitle" placeholder="title"
                                                                formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                                                <div *ngIf="f.title.errors.required">Title is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Content</label>
                                                            <textarea class="form-control" [ngModel]="post.content" type="text" id="inputContent" placeholder="content"
                                                            formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
                                                            <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                                                                <div *ngIf="f.content.errors.required">Content is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <label>Settings</label>
                                                <div class="custom-controls-stacked px-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" [ngModel]="post.public" [value]="" class="custom-control-input" id="notifications-blog"
                                                            formControlName="public"  [ngClass]="{ 'is-invalid': submitted && f.public.errors }">
                                                        <label class="custom-control-label"
                                                            for="notifications-blog">Public</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col d-flex justify-content-end">
                                                <button *ngIf="post.id" class="btn btn-primary" type="submit">Update</button>
                                                <button *ngIf="!post.id" class="btn btn-primary" type="submit">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>