body,html {
    margin: 0;
    padding: 0;
    overflow:hidden;
}
* {
    box-sizing: border-box;
}
iframe{
    position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:10;
}
#login{

    position: fixed;
    right: 0;
    left: 0;

    margin-right: 17px;
    margin-left: 552px;
    padding-left: 15px;

    z-index: 99999;

    margin-top: 50vh;

    

}

fieldset{

    margin-top: 24px !important;
}



.btn-link:before {
    content: "\e044";
    margin-right: 5px;
    font-family: RocheIconFont;
    font-size: 0.8em;
    }

.btn-link {
    text-align: left;
    padding-left: 0px;
}

.btn-link:hover {
    text-decoration: none;
}

.was-validated .form-control:valid, .form-control.is-valid {
    background-image: none;
}



/* The starting CSS styles for the enter animation */
.fadeing.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fadeing.ng-enter.ng-enter-active {
  opacity:1;
}

.fadeing.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fadeing.ng-leave.ng-leave-active {
  opacity:0;
}


button.ng-leave { display:none; }


button {
  width: 200px; }

div#status {
  color: #c60008; }