<h1 class="h1">Own Posts</h1>
<p *ngIf="!posts"><em>Loading...</em></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Creator</th>
      <th scope="col">Public</th>
      <th scope="col">
        <button class="btn btn-info btn-sm" (click)="addPost()">+ New</button>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of posts; let index = index">
      <th scope="row">{{index + 1}}</th>
      <td>{{p.title}}</td>
      <td>{{p.creator}}</td>
      <td *ngIf="p.public">Yes</td>
      <td *ngIf="!p.public">No</td>
      <td>
        <button class="btn btn-secondary btn-sm" (click)="selectPost(p)">edit</button>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deletePost(p)">delete</button>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="posts && posts.length == 0">You haven't created a post yet</p>