<div class="w-75 mr-auto ml-auto">
	<h1>Secret</h1>
	<form [formGroup]="secretForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<input type="text" class="form-control" id="inputSecret" aria-describedby="SecretHelp" placeholder="secret"
				formControlName="secret" [ngClass]="{ 'is-invalid': submitted && f.secret.errors }">
			<div *ngIf="submitted && f.secret.errors" class="invalid-feedback">
				<div *ngIf="f.secret.errors.required">Secret is required</div>
				<div *ngIf="f.secret.errors.minlength">Password has to be 20 characters</div>
				<div *ngIf="f.secret.errors.maxlength">Password has to be 20 characters</div>
			</div>
		</div>
		<div *ngIf="globals.error" class="alert alert-danger" role="alert">
			{{globals.error}}
		</div>
		<button type="submit" class="btn btn-primary">Sign In</button>
	</form>
</div>