<a class="font-weight-light font-italic text-muted" routerLink="/">&#8592; back</a>
<p *ngIf="!globals.selectedPost"><em>Loading...</em></p>
<div *ngIf="globals.selectedPost">

    <h1 class="h1">{{ globals.selectedPost.title }}</h1>

    <p>{{ globals.selectedPost.content }}</p>

    <hr>

    <form *ngIf="globals.loggedIn" [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="mr-auto ml-auto">
        <div class="form-group">
            <textarea class="form-control" id="inputContent" aria-describedby="ContentHelp" placeholder="comment"
                formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
            <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                <div *ngIf="f.content.errors.required">Comment is required</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>

    <hr *ngIf="globals.loggedIn">


    <p *ngIf="!globals.selectedPost.comments"><em>Loading...</em></p>

    <div class="mr-auto ml-auto" *ngFor="let p of globals.selectedPost.comments; let index = index">
        <p>{{ p.content }}</p>
        
        <p class="font-weight-light font-italic">creator: {{p.creator}}</p>

        <hr>
    </div>
</div>