<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-6 text-center py-5">
            <h1>Sign Up</h1>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-75 mr-auto ml-auto">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputFirstname" aria-describedby="FirstnameHelp"
                        placeholder="firstname" formControlName="firstname"
                        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                        <div *ngIf="f.firstname.errors.required">First Name is required</div>
                    </div>
                    <!-- <small id="emailOrUsernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputLastname" aria-describedby="LastnameHelp"
                        placeholder="lastname" formControlName="lastname"
                        [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                    </div>
                    <!-- <small id="emailOrUsernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputUsername" aria-describedby="UsernameHelp"
                        placeholder="username" formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                    <!-- <small id="emailOrUsernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputPhone" aria-describedby="PhoneHelp"
                        placeholder="phone" formControlName="phone"
                        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone is required</div>
                        <div *ngIf="f.phone.errors.pattern">Wrong format</div>
                    </div>
                    <!-- <small id="emailOrUsernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="EmailHelp"
                        placeholder="email" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    <!-- <small id="emailOrUsernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="password"
                        formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputSecret" disabled value="{{secret}}">
                    <small id="secretHelp" class="form-text text-muted">Please keep this secret-key</small>
                </div>
                <div *ngIf="globals.error" class="alert alert-danger" role="alert">
					{{globals.error}}
				</div>
                <!-- <button type="submit" class="btn btn-primary" [disabled]="loading">Sign Up</button> -->
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 text-center py-5 bg-light">
            <div class="row">
                <div class="col-12">
                    <h1>Hello, Friend!</h1>
                </div>
                <div class="col-12">
                    <p>Enter your personal details and start journey with us</p>
                </div>
                <div class="col-12">
                    <button class="btn btn-outline-primary my-4" routerLink="/login">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>