<a class="font-weight-light font-italic text-muted" routerLink="/user/edit">&#8592; back</a>
<div class="mr-auto ml-auto">
	<h1>Verification</h1>
	<form [formGroup]="phoneVerificationForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<input type="number" class="form-control" id="inputPin" aria-describedby="PinHelp" placeholder="pin"
				formControlName="pin" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }">
			<div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
				<div *ngIf="f.pin.errors.required">Pin is required</div>
			</div>
		</div>
		<div *ngIf="globals.error" class="alert alert-danger" role="alert">
			{{globals.error}}
		</div>
		<button type="submit" class="btn btn-primary">Change Phone</button>
	</form>
</div>