input {
    box-sizing: border-box;
    margin-top: 10px;
}
  
  /* The message box is shown when the user clicks on the password field */
  #validationMessages {
    display:block;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #validationMessages p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }