<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-sm-12 col-md-6 text-center py-5">
			<h1>Sign In</h1>
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-75 mr-auto ml-auto">
				<div class="form-group">
					<input type="text" class="form-control" id="inputUsername" aria-describedby="UsernameHelp"
						placeholder="username" formControlName="username"
						[ngClass]="{ 'is-invalid': submitted && f.username.errors }">
					<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
						<div *ngIf="f.username.errors.required">Username is required</div>
					</div>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="inputPassword" placeholder="password"
						formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Password is required</div>
					</div>
				</div>
				<div *ngIf="globals.error" class="alert alert-danger" role="alert">
					{{globals.error}}
				</div>
				<button type="submit" class="btn btn-primary mx-2 mb-2">Sign In</button>
				<button type="button" class="btn btn-outline-primary mx-2 mb-2" (click)="googleSignIn()">GOOGLE
					SIGNIN</button>
			</form>
		</div>
		<div class="col-lg-6 col-sm-12 col-md-6 text-center py-5 bg-light">
			<div class="row">
				<div class="col-12">
					<h1>Hello, Friend!</h1>
				</div>
				<div class="col-12">
					<p>Enter your personal details and start journey with us</p>
				</div>
				<div class="col-12">
					<button class="btn btn-outline-primary my-4" routerLink="/register">Sign
						Up</button>
				</div>
			</div>
		</div>
	</div>
</div>