<h1 class="h1">Public posts</h1>
<p *ngIf="!posts"><em>No posts...</em></p>

<div *ngFor="let p of posts; let index = index" style="cursor: pointer;">
  <div class="card" (click)="open($event, p)">
    <div class="card-body">
      {{ p.title }}
    
      <p class="font-weight-light font-italic text-muted">from {{ p.creator }}</p>
    </div>
  </div>
  <hr>
</div>